{% import 'macros.j2' as tpl with context %}
# {{ ansible_managed }}

authoritative;
ddns-updates on;
ddns-update-style interim;

{# FAILOVERS #}
{% if dubzland_dhcpd_failovers is defined and dubzland_dhcpd_failovers %}
{%   for failover in dubzland_dhcpd_failovers %}
{{ tpl.print_failover(failover) }}
{%   endfor %}
{% endif %}

{# DYNAMIC DNS KEYS #}
{% if dubzland_dhcpd_keys is defined and dubzland_dhcpd_keys %}
{%   for key in dubzland_dhcpd_keys %}
{{ tpl.print_key(key) }}
{%   endfor %}
{% endif %}

{# DYNAMIC DNS ZONES #}
{% if dubzland_dhcpd_zones is defined and dubzland_dhcpd_zones %}
{%   for zone in dubzland_dhcpd_zones %}
{{ tpl.print_zone(zone) }}
{%   endfor %}
{% endif %}

{# GROUPS #}
{% if dubzland_dhcpd_groups is defined and dubzland_dhcpd_groups %}
{%   for group in dubzland_dhcpd_groups %}
{{ tpl.print_group(group) }}
{%   endfor %}
{% endif %}

{# SUBNETS #}
{% if dubzland_dhcpd_subnets is defined and dubzland_dhcpd_subnets %}
{%   for subnet in dubzland_dhcpd_subnets %}
{{ tpl.print_subnet(subnet) }}
{%   endfor %}
{% endif %}
